<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" type='text/css' href='/static/css/bootstrap.css'>
</head>
<body>
<div class="progress">
    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40"
         aria-valuemin="0" aria-valuemax="100" style="width: 40%">
        <span class="sr-only">40% Complete (success)</span>
    </div>
</div>
<div class="progress">
    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="20"
         aria-valuemin="0" aria-valuemax="100" style="width: 20%">
        <span class="sr-only">20% Complete</span>
    </div>
</div>
<div class="progress">
    <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="60"
         aria-valuemin="0" aria-valuemax="100" style="width: 60%">
        <span class="sr-only">60% Complete (warning)</span>
    </div>
</div>
<div class="progress">
    <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="80"
         aria-valuemin="0" aria-valuemax="100" style="width: 80%">
        <span class="sr-only">80% Complete (danger)</span>
    </div>
</div>
<img src="/static/img/qqq.jpg" alt="">

<div>
    <div style='color: #0fb3c7'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid assumenda at
        consectetur consequuntur
        deleniti dolorem dolorum esse eum ipsam molestias obcaecati odit, pariatur possimus qui quidem tempore ullam,
        voluptatum?
    </div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid corporis, dignissimos earum error esse fugiat
        in
        laborum libero nam neque numquam, provident quam quas sed tenetur ut veritatis voluptatibus voluptatum?
    </div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque, culpa eaque eos odit possimus quod
        sit!
        Aspernatur beatae, consectetur debitis, deserunt, ducimus maxime mollitia obcaecati repellendus rerum unde
        veritatis!
    </div>
</div>
<a href='http://shmoogle.com'> shmoogle</a>
<div>
    <form action='http://google.com' method='post'>
        <input type='text'>
        <input type='password'>
        <input type='checkbox'>
        <button type='submit'>Submit</button>
        <button type='reset'>Reset</button>
        <button type='button'>Button</button>
    </form>
</div>
</body>
</html>